body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #e09b54;
    width: 100%;
    top: 0;
}

.nav {
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
}

.logo {
    flex: 1 1 auto;
    margin-left: 1%;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 32px;
}

a{
    display: flex;
    margin: 15px;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover{
    color: black;
}

.hamburger {
    background-color: transparent;
    color: black;
    padding: 16px;
    font-size: 32px;
    border: none;
    cursor: pointer;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9e6be;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .hamburger {
    background-color: #b87431;
  }

.hero {
    background-image: url(Images/image\(13\).jpg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.title-text {
    font-size: 100px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    background: linear-gradient(to top, #4c2c0d, #e09b54);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.subtitle-text {
    font-size: 60px;
    text-align: center;
    font-family: "Poppins";
    color: #000;
}

.hero-text, .subtitle-text {
    justify-content: center;
}

.fansite1-area, .fansite2-area {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 700px;
}

.fansite3-area, .fansite4-area {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 1000px;
}

/* Create two unequal columns that float next to each other */
.column {
    float: left;
    padding: 10px;
}
  
/* Left column */
.column.left {
    width: 30%;
  }
  
/* Right column */
.column.right {
    width: 60%;
}
  
/* Clear floats after the columns */
.row::after {
    content: "";
    display: table;
    clear: both;
}
  
/* Responsive layout - makes the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column.left, .column.right {
        width: 100%;
    }
}

section {
    width: 65%;
    height: 80%;
}

img {
    border-radius: 8px;
    width: 70%;
    height: 90%;
}

h1{
    color: #e09b54;
    font-size: 50px;
    font-family: Audiowide;
    margin-top: 0;
}

p{
    font-size: 24px;
    line-height: 50px;
}

.button-wrapper {
    display: block;
    text-align: center;
}

.button {
    border: none;
    border-radius: 3em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: inline-block;
    font-size: 1em;
    padding: 1em 2em;
    width: auto;
}

.cta-button {
    background-color: #000;
    color: #fff !important;
}
  
.cta-button:hover {
    background-color: #777;
}

.fansite1-area, .fansite3-area{
    background: #fefefe;
    color:#000
}

.fansite2-area, .fansite4-area{
    background: #262626;
    color: white;
}

html {
    scroll-behavior: smooth;
}


footer {
    background-color: #262626;
    color: white;
    text-align: center;
    padding: 20px;
}

.social-media a {
    margin: 0 10px;
    text-align: center;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom:10px;
}

.footer-links a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}

.footer-links a:hover {
    color: #e09b54;
}

.copyleft {
    margin: 0 10px;
    text-align: center;
    justify-content: center;
}

.copyleft a {
    color: white;
    font-size: 14px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    justify-content: center;
}

.copyleft a:hover {
    color: #e09b54;
}

/* Style all font awesome icons */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  
  /* Add a hover effect */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    background: #e09b54;
    color: white;
  }

/* Twitter */
  .fa-twitter {
    background: #e09b54;
    color: white;
  }

/* Instagram */
  .fa-instagram {
    background: #e09b54;
    color: white;
  }